In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [ ]:
df=pd.read_csv('car driving risk analysis.csv')

In [3]:
df

NameError: name 'df' is not defined

In [6]:
import pandas as pd
import numpy as np
from sklearn import linear_model
df=pd.read_csv('car driving experience risk.csv')

In [5]:
df

    speed  risk
0     200    95
1      90    20
2     300    98
3     110    60
4     240    72
5     115    10
6      50     7
7     230    85
8     190    45
9     260    91
10    290    82
11    185    59
12    310    93
13     95    18
14     30     2

In [7]:
import pandas as pd
import numpy as np
from sklearn import linear_model
df=pd.read_csv('car driving experience risk.csv')

In [8]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [9]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [10]:
df.experience.median()

5.0

In [11]:
exa_fit=df.experience.median()

In [12]:
exa_fit

5.0

In [13]:
df.experience=df.experience.fillna(exa_fit)

In [14]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [15]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [16]:
reg=linear_model.LinearRegression()

In [17]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression()

In [18]:
reg.predict([[160,10,5]])

C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.37146872])

In [19]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [20]:
reg.intercept_

33.410000910435905

In [ ]:
0.33059217*160+1.61053246*10+